---
layout: default
title: Awards | Zengyang
---
<!--
<section>
    <h2 class="sub-header">Demonstrating</h2>
    <p>
        As a PhD student I have the opportunity to demonstrate lab sessions for taught students and outreach events.
    </p>
    <ul class="demonstrating-list">
    {% for year in site.data.demonstrating %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
                {% for event in year.events %}
                <li>
                    {{ event }}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
-->

<section>
        <h2 class="sub-header">Awards</h2>
        <ul class="demonstrating-list">
            <!-- 2019 Awards*************************************************** -->
            <li>
                <h3>2019</h3>
                <ul>

                    <li>
                        Student Overseas Exchange Study Scholarship, SZU
                    </li>
                    <li>
                        First-class Postgraduate Studies Scholarship(TOP 20%), SZU
                    </li>

                </ul>
            </li>
            <!-- *************************************************** -->

            <!-- 2017 Awards*************************************************** -->
            <li>
                <h3>2017</h3>
                <ul>
                    <li>
                        First-class Academic Scholarship (TOP 20%), SZU
                    </li>    
                </ul>
            </li>
            <!-- *************************************************** -->

            <!-- Before 2017 *************************************************** -->
            <li>
                <h3>Before 2017</h3>
                <ul>
                    <li>
                        Third-class team award, Microsoft Imagine Cup, WUST Division
                    </li>
                    <li>
                        Outstanding student, Computer Organization Summer School, WUST
                    </li>      
                </ul>
            </li>
                <!-- *************************************************** -->

        </ul>
    </section>