---
layout: default
title: Experiences | Zengyang
---

<!--
<section id="posts">
<h2 class="sub-header">Posts</h2>
{% if site.posts.size > 0 %}
    <nav class="post-nav">
        <ul>
        {% for post in site.posts %}
            <li class="{% if url == post.url %}active{% endif %}">    
                <a href="{{post.url}}" title="{{post.title}}">
                    <em>{{post.date | date: '%d %B %Y'}}</em>
                    -
                    <strong>{{post.title}}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <p>
        Sorry, there are currently no posts to display.
    </p>
{% endif %}
</section>
-->

<section>
    <h2 class="sub-header">Experiences</h2>
    <ul class="demonstrating-list">
        <!-- 2020 Experiences*************************************************** -->
        <li>
            <h3>2020.06 - Now</h3>
            <ul>
                <li>
                    Research Assistant, Beijing Normal University - Hong Kong Baptist University United International College, 
                    Supervisor: <a href="https://www.fst.um.edu.mo/people/jiawj/">Prof. Weijia Jia</a>
                </li>
            </ul>
        </li>
        <!-- *************************************************** -->

        <!-- 2020 Experiences*************************************************** -->
        <li>
            <h3>2019.09 - 2020.01</h3>
            <ul>
                <li>
                    Research Intern, SMART Infrastructure Facility, University of Wollongong(Australia),
                    Supervisor: <a href=" https://scholars.uow.edu.au/display/bo_du">Dr. Bo Du</a>
                </li>
            </ul>
        </li>
        <!-- *************************************************** -->

        <!-- 2020 Experiences*************************************************** -->
        <li>
            <h3>2017.11 & 2018.11</h3>
            <ul>
                <li>
                    Conference volunteer, ICPADS 2018(Shenzhen) & ICPADS 2019(Singapore)
                </li>
            </ul>
        </li>
        <!-- *************************************************** -->

        <!-- 2020 Experiences*************************************************** -->
        <li>
            <h3>2018.07 - 2018 08</h3>
            <ul>
                <li>
                    Pervasive computing and big data summer school held by Beijing University
                </li>
            </ul>
        </li>
        <!-- *************************************************** -->

        <!-- 2020 Experiences*************************************************** -->
        <li>
            <h3>2015.02 - 2016.02</h3>
            <ul>
                <li>
                    Leader of ASP.NET team, A-dou Studio in WUST
                </li>
            </ul>
        </li>
        <!-- *************************************************** -->

    </ul>
</section>