---
layout: default
title: Publications | Zengyang
---

<!--
<section id="publications">
    <h2 class="sub-header">Publications</h2>
    <ul class="pt-list publication-list">
    {% assign sorted_publication_years = site.data.publications | sort: 'year' %}
    {% for year in sorted_publication_years reversed %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
            {% assign sorted_publication = year.publications | sort: 'date' %}
            {% for publication in sorted_publication reversed %}
                <li>
                    <h4>
                        {% if publication.title %}
                            "{{ publication.title }}"
                        {% endif %}
                    </h4>
                    <h5>
                        {% if publication.authors %}
                            {{ publication.authors }}
                        {% endif %}
                    </h5>
                    <p class="publication">
                        {% if publication.journal %}
                            {{ publication.journal }}
                        {% endif %}
                    </p>
                    <p class="publication">
                        {% if publication.note %}
                            {{ publication.note }}
                        {% endif %}
                    </p>
                    {% if publication.href %}
                        <a class="button" href="{{ publication.href }}" target="_blank">View</a>
                    {% endif %}
                    {% if publication.pdf %}
                        <a class="button" href="{{ publication.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                    {% if publication.bib %}
                        <a class="button" href="{{ publication.bib }}" target="_blank">bib</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
-->

<section id="publications">
        <h2 class="sub-header">Publications</h2>
        <ul class="pt-list publication-list">
            <!-- 2020 papers*************************************** -->  
            <li>
                <h3>2020</h3>
                <ul>
                    <li>
                        <h4>
                            Mobility-Aware Dynamic Taxi Ridesharing
                            <a href="./Papers/ICDE2020.pdf">(pdf)</a>
                            <a href="./Papers/ICDE2020_Slides.pdf">(slides)</a>
                        </h4>
                        <h5>
                            Zhidan Liu, <strong>Zengyang Gong</strong>, Jiangzhou Li, Kaishun Wu
                        </h5>
                        <p class="publication">
                            IEEE ICDE, Dallas, Texas, USA, April 2020
                        </p>
                    </li>

                    <li>
                        <h4>
                            SD-seq2seq : A Deep Learning Model for Bus Bunching Prediction Based on
                            Smart Card Data
                            <a href="./Papers/ICCCN2020.pdf">(pdf)</a>
                        </h4>
                        <h5>
                            <strong>Zengyang Gong</strong>, Bo Du, Zhidan Liu, Wei Zeng, Pascal Perez, Kaishun Wu
                        </h5>
                        <p class="publication">
                            IEEE ICCCN, Honolulu, Hawaii, USA, August 2020.
                        </p>
                    </li>  
                </ul>
            </li>
            <!-- *************************************** -->  

            <!-- *************************************** -->  
            <li>
                <h3>Under review & Working Paper</h3>
                <ul>
                    <li>
                        <h4>
                            mT-Share: A Mobility-Aware Dynamic Taxi Ridesharing System
                        </h4>
                        <h5>
                            Zhidan Liu, <strong>Zengyang Gong</strong>, Jiangzhou Li, Kaishun Wu
                        </h5>
                        <p class="publication">
                            IEEE Transactions On Mobile Computing
                        </p>
                    </li>
    
                    <li>
                        <h4>
                            Identification and Prediction of Bus Bunching based on Smart Card Data
                        </h4>
                        <h5>
                            Bo Du, <B>Zengyang Gong</B>, Zhidan Liu, Kaishun Wu
                        </h5>
                        <p class="publication">
                            Transportation Research Part C: Emerging Technologies
                        </p>
                    </li>


                    <li>
                        <h4>
                            Distinguishing unlabeled trajectories generated from different drivers
                        </h4>
                        <h5>
                            Zhidan Liu, <B>Zengyang Gong</B>, Bo Du, Kaishun Wu
                        </h5>
                        <p class="publication">

                        </p>
                    </li>  


                </ul>
            </li>
                <!-- *************************************** --> 



        </ul>
    </section>